<nav>
  <img
    src="https://static.vecteezy.com/system/resources/previews/017/395/366/non_2x/google-keep-notes-and-lists-icon-free-png.png"
    alt="Notetaking app logo"
  />
  <h1>NOTETAKING APP</h1>
  <div class="dropdown">
    <button
      class="dropbtn"
      style="background-color: transparent; margin-top: 4px"
    >
      <img src="static\icons\menu.png" alt="Menu Button" />
    </button>
    <div class="dropdown-content">
      <a href="dashboard.html">Home</a>
      <a href="login.html">Login</a>
      <a href="add.html">Sign Up</a>
    </div>
  </div>
</nav>
